{% load static %}

{{ formset.management_form }}
<table class="form-table" id="regenobs-table">
    <thead>
        <tr><td></td><th>Anwuchs</th><th>Aufwuchs</th><th>Verbiss</th><th>Fegen</th></tr>
    </thead>
    {% for form in formset %}
    <tr><th>{{ form.species }}<!--Hidden:-->{{ form.id }}{{ form.obs }}{{ form.spec }}</th>
        <td>{{ form.perc_an }}</td>
        <td>{{ form.perc_auf }}</td>
        <td>{{ form.verbiss }}</td><td>{{ form.fegen }}</td></tr>
    {% endfor %}
</table>
<div class="weiter">
    <button type="submit" class="weiter" title="Weiter"><img src="{{ static_prefix }}{% static 'img/okcontinue.svg' %}"></button>
</div>
