{% extends "base.html" %}
{% load ksp_utils %}

{% block extra_head %}
<script>
    $(document).ready(function () {
        color_standardfehler($("td.sf"));
    });
</script>
<style>
  table.numbers td.analysis { border-bottom: none; }
  table.numbers td.analysis:not(.empty) { border-top: 0; }
</style>
{% endblock %}

{% block content %}
<div class="tabs">
    <ul class="tabs">
      {% for label, url in tabs %}
      <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
</div>
<table class="numbers" style="margin: 0 auto;">
<thead>
    <tr>
        <th>{{ object_name }}</th><th>Jahr</th><th>Anzahl Probepunkte</th><th>Anzahl Probebäume</th>
        <th>theoretische Waldfläche</th><th>Stammzahl (Stk./ha)</th>
        <th title="Standardfehler">Sf [%]</th>
        <th>Vorrat Einheitstarif (m<sup>3</sup>/ha)</th><th title="Standardfehler">Sf [%]</th>
        <th>Grundfläche (m<sup>2</sup>/ha)</th><th title="Standardfehler">Sf [%]</th>
    </tr>
</thead>
<tbody>
{% for line in inventories %}
    <tr><td>{% ifchanged line.name %}{{ line.name }}{% endifchanged %}</td>
        {% if line.id %}<td><a href="{% url 'inventory' line.id %}">{{ line.years }}</a></td>
        {% else %}<td>{{ line.years }}</td>{% endif %}
        <td>{{ line.Anzahl_Probepunkte }}</td><td>{{ line.Anzahl_Probebaeume }}</td>
        <td>{{ line.theoretische_Waldfläche_ha }}</td>
        <td>{{ line.Stammzahl_pro_ha }}</td><td>{{ line.prc_Standardfehler|display_value }}</td>
        <td>{{ line.Volumen_pro_ha }}</td><td>{{ line.prc_Standardfehler2|display_value }}</td>
        <td>{{ line.Grundflaeche_pro_ha }}</td><td>{{ line.prc_Standardfehler3|display_value }}</td>
        {% if line.analysis_url %}
        <td class="analysis"><a href="{{ line.analysis_url }}" title="Exportieren Sie eine Excel-Datei mit einer vergleichenden Analyse der Daten">Analyse</a></td>
        {% else %}<td class="analysis empty"></td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% if current_inventories %}
<h3>Aktuelle Inventare</h3>
<ul>
    {% for inv in current_inventories %}
    <li><a href="{% url 'inventory' inv.pk %}">{{ inv.name }}</a>, von {{ inv.inv_from }} bis {{ inv.inv_to }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if can_add %}
<div>
    <a href="{% url 'inventory-new' %}" class="icon" title="Neues Inventar hinzufügen">
        <img src="{% static 'admin/img/icon-addlink.svg' %}">
    </a>
</div>
{% endif %}
{% endblock %}
