{% load i18n static %}

<table class="form-table">
    <tr id="tr_lonlat"><td colspan="2">
      <table>
        <tr><td colspan="3"><div id="exact_long_warning" class="warning"></div></td></tr>
        <tr>
            <th>{{ form.exact_long.label_tag }}</th>
            <td>{{ form.exact_long }} <div id="currentLong"></div></td>
            <td rowspan="3"><button id="keepthis">{% trans 'Halten' %}</button></td>
        </tr>
        <tr><td colspan="2"><div id="exact_lat_warning" class="warning"></div></td></tr>
        <tr>
            <th>{{ form.exact_lat.label_tag }}</th>
            <td>{{ form.exact_lat }} <div id="currentLat"></div></td>
        </tr>
        <tr id="tr_accuracy">
            <th>{% trans 'Genauigkeit:' %}</th>
            <td><span id="accuracyValue"></span>
                {% if form.gps_precision %}{{ form.gps_precision }}{% endif %}
            </td>
        </tr>
      </table>
    </td></tr>
    <tr><td colspan="2"><hr></td></tr>
    <tr><td colspan="2">
        <button type="button" id="btn-fixpunkt"
                data-title1="{% trans 'Fixpunkt' %}" data-title2="{% trans 'Fixpunkt entfernen' %}">
                {% trans 'Fixpunkt' %}
        </button>
        <table id="fixpunkt-data" hidden>
            <tr><th>{% trans 'Genauigkeit:' %}</th>
                <td><span id="fixpunkt-prec"></span></td></tr>
            <tr><th>{% trans 'Entfernung zum theoretischen Zentrum:' %}</th>
                <td><span id="fixpunkt-dist"></span></td></tr>
            <tr><th>{% trans 'Azimut zum theoretischen Zentrum:' %}</th>
                <td><span id="fixpunkt-azim"></span></td></tr>
        </table>
    </td></tr>
    <tr><td colspan="2"><hr></td></tr>
    <tr id="tr_exposition">
        <th>{{ form.exposition.label_tag }}</th>
        <td>{{ form.exposition }}</td>
    </tr>
    <tr id="tr_relief">
        <th>{{ form.relief.label_tag }}</th>
        <td>{{ form.relief }}</td>
    </tr>
    <tr id="tr_slope">
        <th>{{ form.slope.label_tag }}</th>
        <td>{{ form.slope }}
            <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                 data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
        </td>
    </tr>
</table>
<div class="weiter">
    <button type="submit" class="weiter" title="{% trans 'Weiter' %}"><img src="{{ static_prefix }}{% static 'img/okcontinue.svg' %}"></button>
</div>
