{% load i18n static %}

{% for field in hidden_fields %}{{ field }}{% endfor %}
<table class="form-table">
    {% for field, errors in fields %}
    <tr id="tr_{{ field.name }}">
        <th>{{ field.label_tag }}</th>
        <td>{% if field.name == 'forest_edgef' %}
            <div id="forest_edgef_warning" class="warning">
              {% trans "Warnung: Wenn kleiner als 0.6 werden keine Stichproben genommen." %}
            </div>
            <div class="forest_edgef">
              <div>{{ field }}</div>
              <div><i>{% trans 'oder' %}</i></div>
              <div>
                <label><b>{% trans 'h dist.:' %}</b></label>
                <input type="number" id="forest_edgef_h" step="0.1"> m
                <img class="form-help" src="{{ static_prefix }}{% static 'img/help.svg' %}" title="{% trans 'How to measure this value' %}" data-target="help-forest_edgef">
              </div>
            </div>
            {% else %}
            {{ field }}
            {% if field.field.can_be_locked %}
            <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                 data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="weiter">
    {% block buttons %}
    <button type="submit" class="weiter" title="{% trans 'Weiter' %}"><img src="{{ static_prefix }}{% static 'img/okcontinue.svg' %}"></button>
    {% endblock %}
</div>
