{% load i18n static %}

<table class="form-table">
    <tbody id="previous-remarks"></tbody>
    <tbody>
      <tr id="tr_remarks">
        <th>{{ form.remarks.label_tag }}</th>
        <td>{{ form.remarks }}</td>
      </tr>
    </tbody>
</table>
<div class="weiter">
  <button type="submit" class="weiter" title="{% trans 'Weiter' %}"><img src="{{ static_prefix }}{% static 'img/okcontinue.svg' %}"></button>
</div>

