{% extends "mobile_base/index.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
{% endblock %}

{% block angle_choice %}
<p>{% trans 'Winkeleinheitseingang in:' %}<br>
    <input type="radio" id="angleunit_0" name="angleunit" value="gon" checked> <label for="angleunit_0">{% trans 'Gon' %}</label>
    <input type="radio" id="angleunit_1" name="angleunit" value="deg">
    <label for="angleunit_1">{% trans 'Grad' %}</label>
</p>
{% endblock %}

{% block step_options %}
{% for form_data in step_forms %}
    <option value="{{ forloop.counter }}" {% if not formloop.first %}disabled{% endif %}>{{ form_data.label }}</option>
{% endfor %}
    <option value="final" disabled>{% trans 'Bäume Inventarisierung' %}</option>
{% endblock %}

{% block forms %}
{% for form_data in step_forms %}
<form id="step{{ forloop.counter }}" class="input-form" data-step="{{ forloop.counter }}">
    {{ form_data.form }}
</form>
{% endfor %}

<form id="steptree" class="input-form" data-step="tree">
    {% for hidden in tree_form.hidden_fields %}{{ hidden }}{% endfor %}
    <table class="form-table">
          <tr id="tr_species">
              <th>{{ tree_form.species.label_tag }}</th>
              <td><div id="species_warning" class="warning">{% trans 'Warnung: Diese Baumart sollte nicht mehr ausgewählt werden.' %}</div>
                  {{ tree_form.species }}
                  <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                       data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
              </td>
          </tr>
          <tr id="tr_nr">
              <th>{{ tree_form.nr.label_tag }}</th>
              <td>{{ tree_form.nr }}
                  <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                       data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
              </td>
          </tr>
          <tr id="tr_distance">
              <th>{{ tree_form.distance.label_tag }}</th>
              <td>{{ tree_form.distance }} dm
                  <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                       data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
              </td>
          </tr>
          <tr id="tr_azimuth">
              <th>{{ tree_form.azimuth.label_tag }}</th>
              <td>{{ tree_form.azimuth }} <span id="azimuth-unit"></span>
                  <img class="locked-input" src="{{ static_prefix }}{% static 'img/locked.svg' %}"
                       data-toggleimg="{{ static_prefix }}{% static 'img/unlocked.svg' %}">
              </td>
          </tr>
          <tr class="separator"><td colspan="2"></td></tr>

        {% for field in tree_form.other_fields %}
          <tr id="tr_{{ field.name }}">
              <th>{{ field.label_tag }}</th>
              <td>{% if field.name == 'dbh' %}
                    <div id="dbh_warning" class="warning">
                      {% trans 'Warnung: der Wert ist kleiner oder gleich der vorherigen Aufnahme.' %}
                    </div>
                    <div class="dbh">
                      <div>{{ field }} {{ field.field.unit }}</div>
                      <div><i>{% trans 'oder' %}</i></div>
                      <div><label><b>{% trans 'Umfang:' %}</b></label> {{ tree_form.perim }} cm</div>
                    </div>
                  {% else %}
                    {% if field.name == 'stem_height' %}
                      <div id="stem_height_warning" class="warning">{% trans 'Warnung: Bitte dieser Wert ergänzen.' %}</div>
                    {% endif %}
                    {{ field }}
                    {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                  {% endif %}
              </td>
          </tr>
        {% endfor %}
    </table>
    <div class="cancel">
        <button class="cancel" id="canceltree" title="{% trans 'Abbrechen' %}">
            <img src="{{ static_prefix }}{% static 'img/back.svg' %}">
        </button>
    </div>
    <div class="weiter">
        <button type="submit" class="weiter" title="{% trans 'Weiter' %}">
            <img src="{{ static_prefix }}{% static 'img/okcontinue.svg' %}">
        </button>
    </div>
</form>
{% endblock %}
