{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" type="text/css" media="all" />
</head>

<body class="login">
  <div class="container">
    <h1>{{ view.title }}</h1>
    {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    <form id="login-form" method="post" action="">
    {% csrf_token %}

    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    <tr>
        <td></td><td><button type="submit">{% trans 'Log in' %}</button></td>
    </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</body>
</html>


