{% extends "base.html" %}

{% block htitle %}Fehler: Seite nicht gefunden{% endblock %}

{% block content %}
  <h2>Seite nicht gefunden</h2>
  <p>Die angeforderte Seite konnte leider auf diesem Server nicht gefunden werden.</p>
{% endblock %}
