{% extends "base.html" %}

{% block htitle %}Server Fehler{% endblock %}

{% block content %}
  <h2>Server Fehler</h2>
  <p>Es tut uns leid, aber ein Serverfehler ist aufgetreten. Die Server-Administratoren wurden benachrichtigt und werden versuchen, den Fehler so schnell wie möglich zu beheben.</p>
{% endblock %}
