<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>KSP {% block htitle %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script>
    var static_url = "{{ STATIC_URL }}";
  </script>
  <link rel="stylesheet" href="{% static 'css/themes/smoothness/jquery-ui.css' %}">
  <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/global.js' %}"></script>
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="global">
    <div id="header">
        <div id="header_bar">
          {% if PROJECT.logo %}
          <div id="logo">
            <img src="{% static PROJECT.logo %}">
          </div>
          {% endif %}
        <ul id="main_menu">
            <li>{% if not on_home %}<a href="{% url 'home' %}" title="zurück zur Übersicht">{% endif %}
        Home{% if not on_home %}</a>{% endif %}</li>
            <li><a href="{% url 'data_page' %}">Datenanforderungen</a></li>
            <li><a href="{% url 'docs' %}">Dokumentation</a></li>
         </ul>
        </div>
    </div>

    <div id="main">
        {% if user.is_authenticated %}
          <div id="loggedin">Angemeldet als {{ user.username }} - <a href="{% url 'logout' %}">ausloggen</a></div>
        {% endif %}

        <div id="page-title">{% block title %}<h1>{{ PROJECT.main_title }}</h1>{% endblock %}</div>

      <div style="clear: both;"></div>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
      <div class="content">
      <div id="dialog-div" style="display: none;" title="Informationen"></div>
      {% block content %}
      {% endblock %}
      </div>
    </div>
    <div id="footer">
      Internetseite: <a href="http://www.guaraci.ch">Guaraci</a> &amp; <a href="http://www.2xlibre.net">2xlibre.net</a>
    </div>
  </div>
</body>
</html>
