{% load ksp_utils %}
{% if error %}<div class="error">{{ error }}</div>
{% else %}
  {% for perim in perimeter_feedback %}
  <div class="perimeter-block">
      <b>{{ perim.0 }}:</b> <span class="perimeter-name">{{ perim.1 }}</span>
  </div>
  {% endfor %}
  {% if total %}<div style="font-size:x-small; font-style: italic">Linien: {{ total }}</div>{% endif %}

<table id="data_grid" class="numbers tablesorter">
  <thead>
  <tr>{% for th_line in field_names|ordered_heads:ordering %}
        {{ th_line }}
      {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for line in query %}
    <tr>
    {% for td_line in line|ordered_vals:ordering %}
        {{ td_line }}
    {% endfor %}
    </tr>
  {% empty %}
    <tr><td colspan="5">Leider ergab Ihre Suchanfrage keinen Daten</td></tr>
  {% endfor %}
  </tbody>
</table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>
{% endif %}
