<div class="blocktitle togglable">Gruppierung
    <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Art und Weise, die Resultate zusammenzufassen. Je feiner die Gruppierung (z.b. Zielwert pro Baumart, Entwicklungsstufe und Gemeinde) desto weniger Kontrollstichproben stehen zur Verfügung und desto grösser ist der Standardfehler. Beim manuellen berechnen von Mittelwerten, basierend auf Gruppierungsergebnissen, muss man eine Gewichtung mit der Anzahl KSP-Punkte vornehmen. Einfacher ist, eine Abfrage mit Gruppierung und eine Abfrage ohne Gruppierung (für den Mittelwert) durchzuführen."></div>
</div>
<div id="grouping-container">
    <div class="grouping">
      <input id="cb_no_aggr" type="checkbox" name="no_aggr" value="none"> <label for="cb_no_aggr">Keine</label>
    </div>

    <div class="grouping deselectable" id="grouping1">
      <!-- Perimeter-related groupments -->
      {% for grp in groupments.perims %}
        <div>
             {% if grp.docs_title %}
               <div class="icons">
                   <img class="info" title="{{ grp.docs_title }}"
                        {% if grp.docs_url %}src="{% static 'img/info-blue.svg' %}" data-url="{{ grp.docs_url }}"
                        {% else %}src="{% static 'img/info.svg' %}"{% endif %}>
               </div>
             {% endif %}
             <input id="cb_{{ grp.code }}" type="radio" name="paggr" value="{{ grp.code }}">
             <label for="cb_{{ grp.code }}">{{ grp.label }}</label>
        </div>
      {% endfor %}
    </div>

    <div class="grouping">
      <!-- Year, inv_period are always present -->
      {% block grouping_year %}
      {% for grp in groupments.periods %}
        <div>
             {% if grp.docs_title %}
               <div class="icons">
                   <img class="info" title="{{ grp.docs_title }}"
                        {% if grp.docs_url %}src="{% static 'img/info-blue.svg' %}" data-url="{{ grp.docs_url }}"
                        {% else %}src="{% static 'img/info.svg' %}"{% endif %}>
               </div>
             {% endif %}
            <input id="cb_{{ grp.code }}" type="radio" name="yaggr" value="{{ grp.code }}" {% if grp.checked %}checked{% endif %}>
            <label for="cb_{{ grp.code }}">{{ grp.label }}</label>
        </div>
      {% endfor %}
      {% endblock %}
    </div>

    <div class="grouping" id="grouping-view">
        <!-- Groupment checkboxes depending on the selected query. -->
      {% for grp in groupments.various %}
        <div id="grp_{{ grp.code }}" class="grp_optional">
             {% if grp.docs_title %}
               <div class="icons">
                   <img class="info" title="{{ grp.docs_title }}"
                        {% if grp.docs_url %}src="{% static 'img/info-blue.svg' %}" data-url="{{ grp.docs_url }}"
                        {% else %}src="{% static 'img/info.svg' %}"{% endif %}>
               </div>
             {% endif %}
            <input id="cb_{{ grp.code }}" type="checkbox" name="aggr" value="{{ grp.code }}">
            <label for="cb_{{ grp.code }}">{{ grp.label }}</label>
        </div>
      {% endfor %}
    </div>

    <div class="grouping deselectable" id="grouping2">
      {% for grp in groupments.bestand %}
        <div>
             {% if grp.docs_title %}
               <div class="icons">
                   <img class="info" title="{{ grp.docs_title }}"
                        {% if grp.docs_url %}src="{% static 'img/info-blue.svg' %}" data-url="{{ grp.docs_url }}"
                        {% else %}src="{% static 'img/info.svg' %}"{% endif %}>
               </div>
             {% endif %}
            <input id="cb_{{ grp.code }}" type="radio" name="aggr" value="{{ grp.code }}" {% if grp.checked %}checked{% endif %}>
            <label for="cb_{{ grp.code }}">{{ grp.label }}</label>
        </div>
      {% endfor %}
    </div>

    <div class="grouping" id="grouping3">
      {% for grp in groupments.phytosoc %}
        <div>
             {% if grp.docs_title %}
               <div class="icons">
                   <img class="info" title="{{ grp.docs_title }}"
                        {% if grp.docs_url %}src="{% static 'img/info-blue.svg' %}" data-url="{{ grp.docs_url }}"
                        {% else %}src="{% static 'img/info.svg' %}"{% endif %}>
               </div>
             {% endif %}
            <input id="cb_{{ grp.code }}" type="radio" name="aggr" value="{{ grp.code }}" {% if grp.checked %}checked{% endif %}>
            <label for="cb_{{ grp.code }}">{{ grp.label }}</label>
        </div>
      {% endfor %}
    </div>

    <div>
      <hr>
      <div>
        <div class="icons"><img class="info" src="{% static 'img/info.svg' %}" title="Standardabweichung(Wert) / Quadratwurzel(alle Punkte) / Durchschnitt(Wert)"></div>
        <div><input id="cb_stddev" type="checkbox" name="stddev" value="1" checked> <label for="cb_stddev">Mit Standardfehler</label></div>
      </div>
    </div>
</div>
