{% extends "base.html" %}

{% block htitle %}Dokumentation{% endblock %}

{% block content %}
<h2>Dokumente</h2>
<ul>
{% for doc in docs %}
    {% ifchanged doc.category %}<h3>{{ doc.get_category_display }}</h3>{% endifchanged %}
    <li><a href="{{ doc.doc.url }}">{{ doc.title }}</a> <small>({{ doc.fformat }}, {{ doc.date }})</small></li>
{% endfor %}
</ul>

<h2>Datenbankdokumentation</h2>
<ul>
    <li><a href="https://gitlab.com/guaraci/ksp/blob/master/docs/KSP-DBSchema.pdf">Datenbankschema (pdf)</a></li>
    <li><a href="{% url 'view-list' %}">Liste der Datenbank "views"</a></li>
    <li><a href="{% url 'table-list' %}">Liste der Datenbank Tabellen</a></li>
</ul>

<h2>Glossar</h2>

<p><b>Erklärung der Begriffe der forstlichen Planung:</b> <a href="{% url 'glossar' %}">Glossar</a></p>

<h3>Definitionen zur Auswertung der Kontrollstichproben</h3>
<p><i>Siehe auch:</i>
    <ul>
    <li><i><a href="http://www.lfi.ch/glossar/glossar.php">LFI Definitionen</a></i></li>
    </ul>
</p>
<dl>
    <a name="einwuchs"></a><dt>Einwuchs</dt>
    <dd>Gesamtheit der Stammzahl oder des Volumens jener Bäume, deren Brusthöhendurchmesser zwischen zwei aufeinander folgenden Inventuren die Kluppschwelle überschritten hat. Die Probebäume sind als Einwuchs klassiert (Einwuchs in lt_vita). Der Einwuchs kann erst für ein Folge-Inventar berechnet werden.</dd>

    <a name="konfidenzniveau"></a><dt>Konfidenzniveau</dt>
    <dd>Auf der KSP-Plattform beträgt das Konfidenzniveau 68%. Das Konfidenzniveau kann auf ≈95% erhöht 
werden, indem die angegebenen Standardfehler verdoppelt werden.</dd>

    <a name="lebender-zuwachs"></a><dt>Lebender Zuwachs</dt>
    <dd>Schaftholzzuwachs (inkl. Rinde) zwischen zwei einander folgenden Inventuren für alle Probebäume welche als lebend klassiert sind (Lebend in lt_vita).</dd>

    <a name="lokale-dichte"></a><dt>Lokale Dichte</dt>
    <dd>Siehe <a href="{% url 'func_def' 'ksp_lokale_dichte' %}">Datenbank Definition</a>.</dd>
    </dd>

    <a name="nutzung"></a><dt>Nutzung</dt>
    <dd>Entnahme von Holz und Bäumen (durch waldbauliche Eingriffe) oder von anderen Waldressourcen (z.B. Harz, Samen). Gesamtheit der Stammzahl oder des Volumens jener Probebäume, welche seit der letzten Aufnahme genutzt wurden (Nutzung in lt_vita). Die Nutzung kann erst für ein Folge-Inventar berechnet werden.</dd>

    <a name="probebaume"></a><dt>Probebaum</dt>
    <dd>Baum, der Bestandteil der Stichprobe einer Inventur ist und die Inventurkriterien wie Kluppschwelle (tree_obs.dbh >= 12cm) erfüllt.</dd>

    <a name="probeflache-gultig"></a><dt>Probefläche gültig</dt>
    <dd>Zufällig oder systematisch ausgewählter Teil der Waldfläche, auf der die Baum-, Bestandes- und Flächenmerkmale erhoben werden. Die Probeflächen des Forstinventars bestehen aus einem konzentrischen Kreis (Horizontalfläche). Der Radius einer Probefläche wird ab einer definierten Hangneigung korrigiert (Link Übersichtstabelle Flächenkorrektur aufgrund der Hangneigung). <br> Zur Berücksichtigung von Randeffekten wird ein Waldrandfaktor (plot_obs.forest_edgef) definiert, oder Spiegelbäume erfasst.</dd>

    <a name="standardabweichung"></a><dt>Standardabweichung</dt>
    <dd>Quadratwurzel aus dem Durchschnitt der quadrierten Abweichungen von Einzelwerten zu ihrem Mittelwert. Sie dient als Mass für die Streuung der untersuchten Grundgesamtheit.</dd>

    <a name="stichprobennetz"></a><dt>Stichprobennetz</dt>
    <dd>Das Stichprobennetz ist ein Gitternetz, welches die gesamte Kantonsfläche abdeckt. Das Gitternetz weist je nach Inventur eine unterschiedliche Maschenweite auf. Auf den Schnittpunkten des Netzes, die aufgrund der kantonalen Waldausscheidung wahrscheinlich Wald sind, liegen die terrestrischen Proben der kantonalen Inventur.</dd>

    <a name="tote-baume"></a><dt>Toter Baum</dt>
    <dd>Probebaum der Bestandteil der Stichprobe einer Inventur ist, die Inventurkriterien wie Kluppschwelle (tree_obs.dbh >= 12cm) erfüllt und zudem als tot klassiert ist. Oft wird zwischen stehenden und liegenden toten Bäumen unterschieden (klassiert als Dürrständer / liegen tot in lt_vita). Tote Bäume werden nur zur Totholzberechnung berücksichtigt.</dd>

    <a name="totholz"></a><dt>Totholz</dt>
    <dd>Abgestorbenes Holz (Bäume, Äste, Strünke). Es wird oft zwischen stehendem und liegendem Totholz unterschieden. Totholz ist ein wichtiges Biotop für viele Tier- und Pflanzenarten sowie Pilze.</dd>

    <a name="vorrat"></a><dt>Vorrat (Holzvorrat)</dt>
    <dd>Schaftholzvolumen in Rinde der lebenden Bäume und Sträucher (stehende und liegende) mit erkennbarer Gehölzart ab 12 cm BHD (klassiert als Lebend oder Einwuchs in lt_vita mit tree_obs.dbh >= Kluppschwelle).</dd>

    <a name="waldboden"></a><dt>Waldboden (bestock und unbestockt)</dt>
    <dd>Inventarisiert wird in der Regel die gesamte Waldfläche. Darin eingeschlossen sind bestockte und unbestockte Waldflächen (z.B. Waldstrassen, Holzlagerplätze, …)</dd>

</dl>

<hr>

{% if backups %}
<h2>Sicherungen</h2>
<em>Nur sichtbar für 'Staff' Benutzer</em>
<ul>
  {% for file in backups %}
    <li><a href="{% url 'serve-backup' file.name %}">{{ file.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
