{% extends "base.html" %}
{% load ksp_utils %}

{% block extra_head %}
<script>
    $(document).ready(function () {
        color_standardfehler($("td.sf"));
    });
</script>
{% endblock %}

{% block content %}
<div style="float:right;">
    {{ inv_choice|safe }}
</div>
<br clear="right">

{% if tabs %}
<div class="tabs">
    <ul class="tabs">
      {% for label, url in tabs %}
      <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
</div>
{% endif %}
<table class="numbers" style="margin: 0 auto;">
<thead><tr>
    <th>Gemeinde <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="politische Gemeinde"></div></th>
    {% if view.has_waldflaeche_col %}
    <th>Waldfläche (2015)
        <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Die theoretische Waldfläche basiert auf der Auswertung der Bestandeskarte 2015">
        </div>
    </th>
    {% endif %}

    <th>Jahr <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Aufnahmejahr der Kontrollstichproben"></div></th>
    <th>Anzahl<br>Probepunkte
        <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Anzahl der aufgenommen Probepunkte">
        </div>
    </th>
    <th>Anzahl<br><a href="{% url 'docs' %}#probebaume">Probebäume</a></th>
    <th>theoretische Waldfläche
        <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Gesamtheit aller Flächen, die gemäss Walddefinition der Aufnahmeleitung als Wald bezeichnet werden und durch Kontrollstichprobenflächen repräsentiert sind. Unbestockte Flächen oder Waldstrassen (Blösen) gehören ebenfalls zur Waldfläche.">
        </div>
    </th>

    {% for col_def in view.data_columns %}
        <th>{{ col_def.title|safe }}
            {% if col_def.doc_url_name or col_def.doc_title %}
            <div class="icons">
              <img class="info"
                src={% if col_def.doc_url_name %}"{% static 'img/info-blue.svg' %}"{% else %}"{% static 'img/info.png' %}"{% endif %}
                title="{{ col_def.doc_title }}{% if col_def.doc_url_name %} Klicken Sie für weitere Informationen.{% endif %}"
                {% if col_def.doc_url_name %}data-url="{% url 'doc-specific' col_def.doc_url_name %}"{% endif %}>
            </div>
            {% endif %}
        </th>
        {% if col_def.sfname %}
        <th title="Standardfehler">Sf [%]</th>
        {% endif %}
    {% endfor %}
    </tr>
</thead>
<tbody>
{% for name, gem in gemeinden.items %}
  {% if not gem.years %}
    <tr><td valign="top"><a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.obj.name_with_k }}</a></td>
        <td>-</td><td>-</td><td>-</td>
    </tr>
  {% else %}
    {% for data in gem.years %}
    <tr>{% if forloop.first %}
        <td valign="top" rowspan="{{ gem.years|length }}">
            <a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.obj.name_with_k }}</a>
        </td>
        {% if view.has_waldflaeche_col %}
            <td valign="top" rowspan="{{ gem.years|length }}">
            {{ data.waldflaeche_bestand|div:10000|floatformat }}
            </td>
        {% endif %}
        {% endif %}
        <td>{{ data.jahr|default_if_none:'-' }}</td>
        <td>{{ data.probepunkte }}</td>
        <td>{{ data.probebaum_abs|default_if_none:'-' }}</td>
        <td>{{ data.waldflaeche|default_if_none:'-' }}</td>
        {% for col_def in view.data_columns %}
            <td>{{ data|object_value:col_def.fname|default_if_none:'-' }}</td>
            {% if col_def.sfname %}
            <td class="sf">{{ data|object_value:col_def.sfname|display_value }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
  {% endif %}
{% endfor %}
</tbody></table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>

<div class="icons">
    <a href="?format=csv" class="icon"><img src="{{ STATIC_URL }}img/csv.png" alt="CSV logo" title="Export als CSV"></a>
</div>

<div style="margin-top: 1em; font-size: small; color: #444;">
    <div style="display: inline-block; height: 1.4em; width: 3em; background-color: #fabf8f"></div>
    Standardfehler über 10%<br>
    <div style="display: inline-block; height: 1.4em; width: 3em; background-color: #ff6161"></div>
    Standardfehler über 25%
</div>

{% endblock %}
