{% extends "base.html" %}
{% load ksp_utils %}

{% block htitle %}{{ gemeinde.name }}{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}

<style type="text/css">
div#map { width: 320px; height: 320px; float: right; margin-bottom: 0.5em; }
div.map_container { width: 50%; float: right; }
div#map_details { width: 100%; height: 500px; display: inline-block; }
div.map_help { clear: right; float: right; display: none; }
div.region_menu { clear: right; float: right; font-size: smaller; }
div.region_menu select { max-width: 22em; }
</style>
<script>

var gem_vector = JSON.parse('{{ gemeinde.the_geom|as_geojson|safe }}');
var year_layers = {};
var regionLayer = null;
var map_det = null;

function add_plot_detail(feature) {
    // A feature has been selected, let's display some details about it
    document.querySelector('#plotobs_container').removeAttribute('hidden');
    fetch(feature.getProperties().url + '?partial=1').then(resp => resp.text()).then(html => {
        document.querySelector('#plotobs_container').innerHTML = html;
        createPlotObsLayer();
    });
}

$(document).ready(function() {
    $('#ksp_table').on('change', 'input', function(ev) {
        if ($(this).prop('checked')) {
            if (this.id in year_layers) {
                // Layer already existing, just show it
                year_layers[this.id].setVisible(true);
                return;
            }
            var lyr = map.addLayerFromGeoJSONUrl($(this).data('src'));
            year_layers[ev.target.id] = lyr;
            $("div.map_help").show();
        } else {
            // Hide the layer
            year_layers[this.id].setVisible(false);
        }
    });
    $('#regionselect').change(function (ev) {
        if (this.value) {
            var layerStyle = new ol.style.Style({
                fill: new ol.style.Fill({
                  color: [255, 79, 79, 0.3]
                }),
                stroke: new ol.style.Stroke({
                  color: [177, 163, 148, 0.8],
                  width: 2,
                  lineCap: 'round'
                })
            });
            if (regionLayer != null) map.removeLayer(regionLayer);
            regionLayer = map.addLayerFromGeoJSONUrl("{% url 'region-geojson' %}?regionpk=" + this.value, layerStyle);
        } else map.removeLayer(regionLayer);
    });
});
</script>
{% endblock %}

{% block content %}

<h1>{{ gemeinde.name }}</h1>

<div id="map"></div>
<div class="map_help">Klicken Sie auf einen beliebigen Punkt um Details zu zeigen</div>
{% if regions %}
<div class="region_menu">
    <form>
    Show region on map: <select id="regionselect">
        <option value="">--------</option>
        {% for reg in regions %}
            {% ifchanged reg.region_type %}{% if not forloop.first %}</optgroup>{% endif %}<optgroup label="{{ reg.region_type }}">{% endifchanged %}
            <option value="{{ reg.pk }}">{{ reg.name }}</option>
        {% endfor %}
        </select>
    </form>
</div>
{% endif %}

<h2>Kontrollstichproben</h2>

<table id="ksp_table" class="numbers">
<thead><tr><th>Jahr</th><th>Anzahl<br>Probepunkte</th></tr></thead>
<tbody>
{% for inv in passed_inventories %}
    {% with year=inv.year %}
    <tr><td>
        {% if inv.pk %}<a href="{% url 'inventory' inv.pk %}">{% endif %}{{ year }}{% if inv.pk %}</a>{% endif %}
        </td>
        <td>{{ inv.num_plots }}</td>
        <td><input type="checkbox" id="cb_{{ year }}" data-src="{{ inv.plotobs_url }}">
            <label for="cb_{{ year }}">Auf der Karte anzeigen</label>
        </td>
    </tr>
    {% endwith %}
{% endfor %}
<tbody>
</table>

{% if can_add and new_inventory_url %}
<a href="{{ new_inventory_url }}" class="icon" title="Neues Inventar hinzufügen">
    <img src="{% static 'admin/img/icon-addlink.svg' %}">
</a>
{% endif %}

{% for inv in current_inventories %}
<p><a href="{% url 'inventory' inv.pk %}">Aktuelles Inventar ({{ inv.name }})</a></p>
{% endfor %}

<br clear="right">

<div id="plotobs_container" hidden></div>

<script>

var selectIaction = getSelectIaction();

selectIaction.getFeatures().on('change:length', function(e) {
  if (e.target.getArray().length > 0) {
    $('#map_details').html('');
    add_plot_detail(e.target.item(0));
  } else {
    $('#map_details').hide();
    $('#plot_details').hide();
  }
});

var geojsonFormat = new ol.format.GeoJSON();
var map = new KSPMap({
    target: 'map',
    layers: [baselayer],
    view: new ol.View({
      projection: proj_2056,
      center: {{ center|coords_to_js|default_coords }},
      zoom: {% if center %}13{% else %}12{%endif %}
    }),
    interactions: ol.interaction.defaults().extend([selectIaction])
});
if (Object.keys(gem_vector).length > 0) {
    var gemLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: geojsonFormat.readFeatures(gem_vector)
        })
    });
    map.addLayer(gemLayer);
}
</script>

{% endblock %}
