{% extends "base.html" %}

{% block extra_head %}
    <script src="{% url 'javascript-catalog' %}"></script>
    {{ form.media }}
{% endblock %}

{% block htitle %}Inventory - Bearbeiten{% endblock %}

{% block content %}
<h1>{% if inventory.pk %}Inventar {{ inventory.name }}{% else %}Neues Inventar{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    <table class="edition">
    {{ form.as_table }}
    </table>
    <button type="submit">Speichern</button>
</form>

{% endblock %}
