{% extends "base.html" %}
{% load ksp_utils %}

{% block htitle %}{{ inventory.municipality.name }} - {{ inventory.year }}{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}
  <script src="{% static 'js/inventory.js' %}"></script>

<style>
div#map { text-align: center; width: 60%; max-width: 800px; height: 500px; margin-bottom: 0.5em; margin-right: 0.5em; }
div#infos_container { position: relative; width: 40%; display: flex; flex-direction: column;}
div#legend { margin-top: auto; width: 100%; font-size: small; }
form#newplot_form, form#shapeForm { display: none; }
input#id_latitude, input#id_longitude { padding: 5px 0; }
fieldset#plot-details { margin-bottom: 1em; }
fieldset#plot-details legend { font-size: large; font-weight: bold; }
</style>

<script>
const gemeindenURL = "{% url 'gemeinden-by-extent' %}";
const inventory = {
    is_passed: {{ inventory.is_passed|yesno:'true,false' }},
    center: {{ center|coords_to_js }},
    plotobs_url: "{% url 'inventory-plotobs' inventory.pk %}",
    plots_noobs_url: "{% url 'inventory-plots-no-obs' inventory.pk %}",
    exclude_plots_url: "{% url 'inventory-exclude-plots' inventory.pk %}"
};
inventory.feature = JSON.parse('{{ inventory_geojson|safe }}')
</script>
{% endblock %}

{% block content %}
<h1>Inventar {{ name }}</h1>

<div class="flex">
    <div id="map"></div>
    <div id="infos_container">
        <div id="infos">
            <p>Von: {{ inventory.inv_from }} bis: {{ inventory.inv_to }}</p>
            <p>Aufnahmeperiode: {{ inventory.get_period_display }}</p>
            <p>Standarddichte: {{ inventory.get_default_density_display }}</p>
            {% if inventory.remarks %}
            <p>Bemerkungen: {{ inventory.remarks }}</p>
            {% endif %}
            {% if edit_url %}
            <div class="text-right">
                <a href="{{ edit_url }}" class="icon"><img class="edit" src="{% static 'admin/img/icon-changelink.svg' %}"></a>
            </div>
            {% endif %}
        </div>
        <div id="perimeters" hidden data-geomurl="{% url 'perimeter-geojson' %}">
            {% if not inventory.is_passed %}
              <form method="post" id="perimeter_form" action="{% url 'inventory-savepolygon' inventory.pk %}">
                {% csrf_token %}
                {% include "perimeter_choice_block.html" with show_icons=False %}
                <button type="submit">Speichern</button>
              </form>
            {% endif %}
        </div>
        <div id="legend">
            <div><img src="{% static 'img/poly_gem.png' %}" width="20"> Gemeindepolygon</div>
            <div><img src="{% static 'img/poly_inv.png' %}" width="20">
                Inventarpolygon
                {% if not inventory.is_passed and edit_url %}
                <img id="edit_geometry" class="pointer" src="{% static 'admin/img/icon-changelink.svg' %}">
                {% endif %}
            </div>
            <div><img src="{% static 'img/point_blue.png' %}"> Dieser Plot wurde inventarisiert (<span id="plotobsCount"></span>).</div>
            {% if not inventory.is_passed %}
            <div>
                <img src="{% static 'img/point_white.png' %}"> Dieser Plot wird nächstens inventarisiert (war in letztes Inventar) (<span id="plotCurrentCount"></span>).
            </div>
            <div>
                <img src="{% static 'img/point_lgrey.png' %}"> Dieser Plot wird nächstens inventarisiert (war <b>nicht</b> in letztes Inventar) (<span id="plotObsoleteCount"></span>).
            </div>
            <div>
                <img src="{% static 'img/point_grey.png' %}"> Dieser Plot wird <b>nicht</b> inventarisiert (<span id="plotExcludedCount"></span>).
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="plot"></div>

{% if not inventory.is_passed %}
<div id="newplot">
    <button id="showform">KSP hinzufügen</button>
    <!--button id="savePolygon" data-url="{% url 'inventory-savepolygon' inventory.pk %}">Inventar Polygon speichern</button-->
    <button id="shpBtn">KSP aus Shapefile importieren</button>
    <form action="{% url 'inventory-divide-density' inventory.pk %}" method="post">{% csrf_token %}
        <button type="submit" class="confirm"
                data-confirm="Möchten Sie die KSP Pünkte wirklich ausdünnen?">automatisiertes Ausdünnen der KSP</button>
    </form>

    <form id="newplot_form" action="{% url 'inventory-new-plot' inventory.pk %}" method="post">
        {% csrf_token %}
        Länge: <input id="id_longitude" name="longitude" type="number" step="100"><br>
        Breite: <input id="id_latitude" name="latitude" type="number" step="100"><br>
        <button id="newplot_submit">Speichern</button>
        <button type="button" class="cancel" id="newplot_cancel">Stornieren</button>
    </form>

    <form id="shapeForm" action="{% url 'inventory-new-plots-shape' inventory.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
        <h3>Shapefile (.zip) importieren</h3>
        <input type="file" name="shapefile"><br>
        <button id="shapeForm_submit">Importieren</button>
        <button class="cancel">Stornieren</button>
        </fieldset>
    </form>
</div>
{% endif %}

<script>


</script>
{% endblock %}
