<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" type="text/css">

<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>

<script src="{{ STATIC_URL }}js/map.js"></script>
