<div id="where" class="selblock">
  <div class="blocktitle">Perimeter
    {% if show_icons %}
    <div class="icons">
        <img class="info" src="{% static 'img/info.svg' %}" title="Auswahl des Perimeters, für welche Daten angefordert werden.">
    </div>
    {% endif %}
  </div>

  {% for perim in perimeters %}
  <div class="perim_choice">
      {% if show_icons %}
      <div class="icons">
          {% if perim.infos_url %}
          <img class="info" src="{% static 'img/info-blue.svg' %}" title="{{ perim.infos }}"
               data-url="{{ perim.infos_url }}">
          {% endif %}
      </div>
      {% endif %}
      <div class="togglable"><b>{{ perim.title }}</b>
        <span class="num_choices"></span>
        <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Löschen">
      </div>
      <div class="checkboxes">
         {% if perim.items|length > 20 %}<input class="choice_filter" type="text"><br>{% endif %}
      {% for item in perim %}
        <div class="checkbox">
            <input id="{{ item.input_id }}" type="checkbox"
                   name="{{ item.input_name }}" value="{{ item.pk }}">
            <label for="{{ item.input_id }}">{{ item.name }}</label>
        </div>
      {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>
