{% extends "base.html" %}

{% block extra_head %}
  {% include "map_headers.html" %}
  <style type="text/css">
    div.map_container { width: 50%; float: right; }
    div#map_details { height: 600px; }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        createPlotObsLayer();
    });
  </script>
{% endblock %}

{% block htitle %}{{ plotobs.plot.nr }} - {{ plotobs.year }}{% endblock %}

{% block content %}{% include 'plotobs_detail_core.html' %}{% endblock %}
