{% extends "base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/highlight.default.min.css' %}">
  <script src="{% static 'js/highlight.min.js' %}"></script>
  <style type="text/css">
    table.view_def th { text-align: right; vertical-align: top; }
    table.view_def th, table.view_def td { padding: 5px; }
    pre { margin: 4px }
    .hljs-comment { white-space: pre-wrap; }
  </style>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<h2>{{ obj_type }} definition</h2>
<table class="view_def">
  <tr><th>Name</th><td>{{ name }}</td></tr>
  {% if comment %}<tr><th>Kommentar</th><td>{{ comment }}</td></tr>{% endif %}
  <tr>
    <th>Definition</th>
    <td><pre><code>{{ definition|safe }}</code></pre></td>
  </tr>
</table>
{% endblock %}
