<div>
  <h3>Waldeigentümer</h3>
  <p>Die wichtigsten Waldeigentümer der beiden Basel sind in der Tabelle <code>owner</code> als Polygone gespeichert. Private Waldeigentümer mit weniger als 25 Hektaren Wald sind anonymisiert.<br>
  Zum Zeitpunkt der Aufnahme eines neuen Inventars bzw. einer Folgeaufnahme wird der Eigentümer (owner) im Attribut <code>plot_obs.owner_id</code> basierend auf dem Kontrollstichprobenzentrum festgeschrieben. Dies geschieht sobald das Aufnahmeteam eine neue Plotaufnahme erfasst.<br>
Damit ist im Attribut plot_obs.owner_id der Besitzstand im Moment der Aufnahme (Inventur) dokumentiert.<br>
In wenigen Fällen liegt das KSP-Stichprobenzentrum nicht innerhalb eines Polygons (owner) und hat deshalb keinen Besitzer. In diesem Fall kann das Feld <code>plot_obs.owner_id</code> manuell festgelegt werden.
Der aktuelle Waldeigentümer wird in der Tabelle <code>owner</code> abgelegt und regelmässig aktualisiert.
  </p>
<h3>Waldeigentümer (aktuell)</h3>
In der Tabelle <code>owner</code> werden die Waldeigentumsverhältnisse regelmässig aktualisiert. Diese können in der Datenanforderung unter Perimeter --> "Heut. Eigentümer" ausgewählt werden.
 
<h3>Waldeigentümer (zum Zeitpunkt der Inventarisierung)</h3>
Im Attribut <code>plot_obs.owner</code> wird der Eigentümer zum Zeitpunkt des Inventars abgelegt. Diese können in der Datenanforderung unter Perimeter --> "Hist. Eigentümer" ausgewählt werden.

<h3>Analysen</h3>
Eine Analyse kann nach den Eigentumsverhältnissen zum <b>Zeitpunkt des Inventars</b> ausgewertet werden (WEP Analysen).<br>

Vorgehen unter Datenanforderung: Perimeter auswählen, Zielwert definieren und Gruppierung des gewählten Perimeters nach "Hist. Eigentümer"<br>

Eine Analyse kann nach den <b>aktuellen Eigentumsverhältnissen</b> ausgewertet werden (z.B. Betriebsplan, kantonale Auswertungen zum aktuellen Zeitpunkt).<br>
Perimeter auswählen, Zielwert definieren und Gruppierung des gewählten Perimeters nach «Heut. Eigentümer»

  <h3>Update Tabelle <code>owner</code></h3>
  <p>Vor Beginn der Feldaufnahmen kann das Waldeigentum aktualisiert werden. Dazu wird die afw Datenbank fp.v_waldeigentum_detail_201210 aktualisiert. Durch das unten genannte Skript kann damit die Tabelle "owner" aktualisiert werden. Wird  ein Plot durch das Feldteam aufgenommen, wird die Eigentümerinformation gemäss der Tabelle owner in das Attribut plot_obs.owner_id aufgenommen. Die Eigentümer sind klassifiziert gemäss der Tabelle owner_type. Für jeden Eigentümer der Tabelle "owner" ist definiert, ob er betriebsplanflichtig ist oder nicht.</p>
  <p><b>Datenquelle Eigentümer:</b> <a href="{% url 'table_def' 'owner' %}">"owner" Tabelle</a>, die durch Skript aus "afw" Datenbank, "fp.v_waldeigentum_detail_201210" Sicht übernommen wurde.</p>
  <p><b>Datenquelle Eigentümertyp:</b> <a href="{% url 'table_def' 'owner_type' %}">"owner" Tabelle</a>, In der Tabelle owner wird jedem Eigentümer ein "Typ" zugeordnet.</p>
  <p><i>Siehe auch import_eigentumer() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
