<div>
  <h3>Freiperimeter</h3>
  <p>Als Freiperimeter wird ein beliebiger Unterperimeter bezeichnet, welcher ein bestimmtes Waldstück (Polygon) definiert.<br>
  Beispielsweise wurde in der Analyse Basel Stadt zwischen einem Bergwald und einem Talwald unterschieden.
  </p>

  <p><b>Datenquelle:</b> <a href="{% url 'table_def' 'adminregion' %}">"adminregion" Tabelle</a>, Filter: region_type.name=Freiperimeter
  </p>
</div>
