<div>
  <h3>Gemeinden</h3>
  <p>Politische Gemeinden sowie ggf. einzelne Gemeinden aus den Nachbarkantonen, in denen Kontrollstichproben erhoben wurden.</p>

  <p><b>Datenquelle:</b> <a href="{% url 'table_def' municip_table_name %}">"{{ municip_table_name }}" Tabelle</a>.</p>
</div>
