<div>
  <h3>Schutzwald</h3>
  <p>Ein Schutzwald ist ein Wald, der ein anerkanntes Schadenpotential gegen eine bestehende Naturgefahr schützen oder die damit verbundenen Risiken reduzieren kann. Die Schutzwaldperimeter auf der KSP-Plattform entsprechen dem Stand von Dezember 2020. Die zeiitliche Entwicklung der Schutzwaldperimeter wird hier nicht dokumentiert.<br>
  <a href="https://www.baselland.ch/politik-und-behorden/direktionen/volkswirtschafts-und-gesundheitsdirektion/amt-fur-wald/naturgefahren/schutzwald-1">Mehr Informationen</a>.</p>
  <p>Analysen: Bei einer Analyse werden alle KSP-Plots, welche sich innerhalb des Schutzwaldperimeters befinden analysiert. Auch bei einer vergleichenden Analyse, werden die Plots des aktuellen Schutzwaldperimeters miteinander verglichen.</p>
  <p><b>Datenquelle:</b> "afw" Datenbank, "ng.schutzwald_laufend" Tabelle.</p>
  <p><i>Siehe auch import_schutzwald() Methode in Datei <a href="https://gitlab.com/guaraci/ksp/blob/master/observation/management/commands/populate_regions.py">populate_regions.py</a></i>
  </p>
</div>
