/* Schritt 1 */
#main-container[data-inventorytype="co2"] #tr_stand_forest_mixture,
#main-container[data-inventorytype="co2"] #tr_stand_crown_closure,
#main-container[data-inventorytype="co2"] #tr_soil_compaction,
#main-container[data-inventorytype="co2"] #tr_forest_form,
#main-container[data-inventorytype="co2"] #tr_regen_type { display: none; }

/* Schritt 2 */
#main-container[data-inventorytype="co2"] #regenobs-table { display: none; }

/* Schritt 3 */
#main-container[data-inventorytype="co2"] #tr_exposition,
#main-container[data-inventorytype="co2"] #tr_relief { display: none; }

/* Schritt Baum */
#main-container[data-inventorytype="co2"] #tr_layer,
#main-container[data-inventorytype="co2"] #tr_rank,
#main-container[data-inventorytype="co2"] #tr_damage,
#main-container[data-inventorytype="co2"] #tr_damage_cause,
#main-container[data-inventorytype="co2"] #tr_crown_length,
#main-container[data-inventorytype="co2"] #tr_crown_form,
#main-container[data-inventorytype="co2"] #tr_stem,
#main-container[data-inventorytype="co2"] #tr_stem_forked,
#main-container[data-inventorytype="co2"] #tr_woodpecker,
#main-container[data-inventorytype="co2"] #tr_ash_dieback { display: none; }
